@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  font-size: 16px;
 /* background-color:  #d8cbcb;*/
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  margin:0;
  padding: 0px;
  padding-top: 70px;
  /*background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);*/
}
.page-header{
	border-bottom: none;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
h1 h2 h3 h4 h5 h6{
	margin: 0px;
	padding: 0px;
}
a.heading_top{
	display:block;
	position:relative;
	top:-100px;
	visibility:hidden
}
/*********HEADER***********/
.navbar{ 
	border: 0px; 
	height: auto;
	background-color: #222222;
	background-color: #077376; 
	border-radius: 0;
	margin-right: -50px;
}
.navbar-brand{
	padding-bottom: 25px;
	margin-bottom: 5px;
}
.navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 1px 1px 1px #222;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    float: left;
}
.navbar .navbar-collapse {
	padding: 10px;
}
.navbar .navbar-nav {
	float: none;
}
.navbar-nav { 
	margin: 0px;
}
.navbar .nav > li a {
	height: 80px; 
	text-align: center;
	font-family: 'Lora', serif;
	padding-top: 30px; 
	font-weight: 600; 
	color: #FFFFFF; 
}
#navbar-example .container #collapsable-nav ul li a span{
	margin: 0px;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus { 
	color: #999999; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #595a5f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*END HEADER*/

/* JUMBOTRON */
#main-content{
	margin-top: 0px;
}

.jumbotron h1{
	margin-top: 10px;
	color: #3380FF;
	background: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 100px;
	font-family: 'Kavivanar', cursive;
}
.jumbotron{
	margin-top: 10px;
	margin-bottom: -20px;
	background: #fff;
}
.jumbotron img{
	border-radius: 60%;
	/*position: relative;
	left: 10%;*/
	margin-top: 40px;
}
.jumbotron p{
	color: black;
	text-align: justify;
	font-size: 20px;
	font-family: 'Kavivanar', cursive;	 
	font-weight: normal;
}
.jumbotron #menu-outer{
	height: auto;
	border: 2px solid black;
	background: grey;
}
.jumbotron .sub_heading1{
	background: grey;
	color: black;
	padding: 20px auto 20px 60px;
}
.jumbotron ul{
	list-style-type: square;
}
.jumbotron ul li a{
	color: black;
	padding: 0 20px;
	list-style-type: square;
	display:inline-block;
	margin-bottom: 5px;
	text-decoration: none;
	text-align: justify-all;
}
/*END JUMBOTRON*/

/* Education and Appointment */
#home-tiles{
	width: 100%;
	margin-bottom:10px;
	padding: 0px;
	background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
div .heading2{
	padding-top: 90px;
	color: #3380FF;
	font-size: 30px;
	text-align: center;
	padding-top: 0.5px;
}
div .heading2 h1{
	font-size: 50px;
	font-weight: 400;
}
div .heading2 hr{
	width: 40%;
	border-bottom: 1px solid grey;
}
.container{
	width: 80%;
}
.page-header{
	/*background-color: black;
	display: inline-block;*/
	font-family: 'Lora', serif;
	font-size:16px;
	font-weight: bold;
}
.page-header h1{
	margin-top: 0;
	text-align: center;
	font-size: 30px;
	padding: 10px 10px 1px 10px;
	margin-bottom: 0px;
	color: black;
}
.page-header h1 span{
	/*background-color: black;*/
	padding:15px;
	font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
.page-header h1 span:before, .page-header h1 span:after{
	content: '\00A7';
	 display: inline-block;
	 -webkit-transform: rotate(90deg);
	 -moz-transform: rotate(90deg);
	 -o-transform: rotate(90deg);
	 -ms-transform: rotate(90deg);
	 transform: rotate(90deg);
	/* opacity: 0.2;*/
	 margin: 0 0.6em;
	 font-size: 0.5em;
}
.edu, .appo{
	color: #000;
}
.edu, .appo{	
	clear:both;
	color:#000;
}
.edu h2, .appo h2{
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}
.edu h4, .appo h4{
	margin: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}
.edu h3, .appo h3{
	margin-top: 10px;
	font-weight: 100;
}
.container .row .row-first{
	padding-left: 0px;
	/*padding: 20px;*/
}
.head1, .head2{
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
}
.edu hr{
	border: 2px dotted black;
	width: 60%;
}
/*END EDUCATION AND APPOINMENT*/

/*PUBLICATION*/
 #publicationss1 .container{
	width: 80%;
	margin-bottom:0px;
	padding: 0px;
}
div .heading3{
	color: #3380FF;
	font-size: 30px;
	text-align: center;
	padding-top: 0.5px;
}
div .heading3 h1{
	font-size: 50px;
	font-weight: 400;
}
div .heading3 hr{
	width: 40%;
	border-bottom: 1px solid grey;
}
#publicationss1 div .row{
	margin-bottom: 30px;
}
/* The Modal (background) */
button.btn.btn-info{
	margin: 22px;
	width: 29%;
	height: 100px;
	color: white;
	border: #962713;
	background-color: #962713;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
  	transition: all 0.5s;
}
button.btn.btn-info span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.btn.btn-info span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.btn.btn-info:hover span {
  padding-right: 25px;
}

button.btn.btn-info:hover span:after {
  opacity: 1;
  right: 0;
}
.modal-dialog{
	width: 85%;
}
.modal-header{
	background: grey;
}
/* Modal Content/Box */
.modal-title{
	font-size: 20px;
	padding: 10px;
	text-align: center;
}
#public1 ol{
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}
#public1 ol li h1{
	font-size: 15px;
}
.modal-body a h1, .modal-body ol{
	font-size: 15px;
	color: #000;
}
.modal-body ol li a{
	text-decoration: none;
}
.modal-body ol li:hover, modal-body ol li:active{
	color: red;
}
.modal-body ol li a h1:hover, .modal-body ol li a h1:active {
	text-decoration: none;
	color: red;
}
.modal-footer{
	background: grey;
	height: 70px;
}
button.btn.btn-default{
	margin-bottom: 40px;
}

/*END PUBLICATIONS*/

/*ACADEMICS*/
div#academicss1{
	width: 100%;
	margin-bottom:10px;
	padding: 0px;
	background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
div .heading4{
	color: #3380FF;
	font-size: 30px;
	text-align: center;
	padding-top: 0.5px;
}
div .heading4 h1{
	font-size: 50px;
	font-weight: 400;
}
div .heading4 hr{
	width: 40%;
	border-bottom: 1px solid grey;
}
/*#academicss .head3{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}*/
/*END ACADEMIC*/

/*AWARDS*/
#awardss{
	width: 100%;
	margin-bottom:50px;
	padding: 0px;
}
#awardss div h1{
	margin-top: -20px;
}
section .heading5{
	color: #3380FF;
	font-size: 30px;
	text-align: center;
	padding-top: 0.5px;
}
section .heading5 h1{
	font-size: 50px;
	font-weight: 400;
}
section .heading5 hr{
	width: 40%;
	border-bottom: 1px solid grey;
}
/*End Awards heading*/

#awardss p{
	font-size: 16px;
	color: #000;
}
.container{
	width: 85%;
}
#timeline{
	width:100%;
	background:url(../images/line.png) repeat-y 50% 0;
	min-height: 700px;
	margin: 10px 0 0px 0;
	color: #000;
}
.tl-block{
	position: relative;
	width: 100%;
	min-height:40px;
	margin-bottom: 0px;	
}
.tl-event{
	background: url(../images/point-shape1.png) no-repeat top center;
	display: block;
	margin:auto;
	width: 100%;
	overflow: hidden;
	visibility: visible;
}
.tl-event > div{
	width: 45%;
	position: relative;
}
.tl-event div div{
	background: #eee;
	border-radius: 10px;
	padding: 5px;
}
.tl-event div.event-r{
	float: right;
	background: url(../images/arrow-left.png) no-repeat 0 0;
}
.tl-event div.event-l{
	float: left;
	background: url(../images/arrow-right.png) no-repeat top right;
}
.tl-event div.event-r div{
	margin-left: 20px;
}
.tl-event div.event-l div{
	margin-right: 20px;
}
.tl-event time{
	background: #f26011;
	color: #000;
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Lora', serif;
	font-weight: bold;
}

/*END AWARDS*/

/* FOOTER */
footer{
	margin-top: -10px
	margin-bottom:-40px;
	padding-left:60px;
	padding-right: 60px;
}
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  margin-bottom: -45px;
}
.panel-footer div.row{
  margin-bottom: 35px;
}
/*name address phone*/
h1.text1{
	margin-bottom: 30px;
	font-family: 'Kavivanar', cursive;
	width: 80%;
	margin-left: 50px;
}
ul#btnn{
	margin-top: -40px;
}
a span{
	margin-right:15px;
}
.namee{
	margin-left: 50px;
}
a p{
	display: inline-block;
}
#call-btn > a {
    font-size: 1em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    color: #ff7877;
    margin-left: 0px;
}
a:hover{
	background-color: none;
}
.btn{
  	text-align: left;
  	margin-bottom: -10px;
}
li .btn1{
	margin-top: -20px;
}
.btn2 span{
	font-size:30px;
	margin-left: -7px;
	top:-20px;
	margin-right: 5px;
}
.glyphicon-map-maker{
	font-size:45px;
}
/********* Social icons *************/
ul{
	list-style-type: none;
}
ul li{
	display: inline;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.socila-icons{
	margin-left: 00px;
}

/* Add a hover effect if you want 
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand 

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
/*Google plus*/
.fa-google-plus{
	background: #dd4b39;
    color: white;
}
/* Twitter */
.fa-twitter{
    background: #55ACEE;
    color: white;
}
/*Linkedin*/
.fa-linkedin {
	background: #007bb5;
    color: white;
}
/*Instagram*/
.fa-instagram{
	background: #125688;
    color: white;
}
/*********End Social Icons***********/
/*Contact us*/
h1.text-center{
	margin-bottom: 30px;
	font-family: 'Kavivanar', cursive;
	width: 80%;
}
.quote{
	text-align: center;
	width:80%;
	margin-top: -10px;
}
input, textarea{
	padding: 10px;
	margin-top: 5px;
	margin-bottom:5px;
	width:90%;
	color: black;
}
.quote button{
	display: block;
	width: 90%;
	margin-left: 20px;
	background-color: grey;
	color: white;
}

/*  END FOOTER*/



/****** Large devices only */
@media(min-width: 1200px){
	.jumbotron img{
		margin-left: 20px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 16px;
		line-height: 1.2em;
		font-weight: bold;
	}
	h4{
		font-size: 16px;
	}
 }

/****** Medium devices only ****/
@media(min-width: 992px) and (max-width: 1199px){
	.navbar #nav-list{
		margin-right: -20px;
	}
	.jumbotron img{
		width: 350px;
	}
	.head3{
		padding-left: 15px;
	}
	.jumbotron p{
		font-size:18px;
	}
	.para{
		padding-left: 15px;
		margin-right: -40px;
	}
	h2{
		font-size: 18px;
		font-weight: bold ;
	}
	h3{
		font-size: 15px;
		line-height: 1em;
		font-weight: bold;
	}
	h4{
		font-size:14px;
	}
	#home-tiles{
		width:100%;
	}
	button.btn.btn-info{
		width: 28.5%;
		height: 100px;
	}
}

/****** Small devices only ****/
@media(min-width: 768px) and (max-width: 991px){
	/*Header*/
	#navbar-example .container{
		width:90%;
	}
	/*.navbar-brand h1{
		margin-left: -70px;
	}
	.navbar-header{
		margin-left: -70px;
		margin-right: -70px;
		width: 80%;
	}*/
	/*JuMBOTRON*/
	.jumbotron{
		margin-top: 10px;
	}
	.jumbotron img{
		width: 300px;
		height: 350px;
		margin-left: -15px;
		margin-top: 20px;
	}
	.jumbotron p{
		font-size:15px;
		margin-right: -40px;
	}
	/*END JUMBOTRON*/

	/*EDUCATION AND APPOINMENT*/
	#home-tiles{
		width:100%;
	}
	h2{
		font-size: 16px;
	}
	h3{
		font-size: 15px;
		line-height: 1em;
		font-weight: normal;
	}
	h4{
		font-size:14px;
	}
	/*END EDUCATION AND JUMBOTRON*/
	button.btn.btn-info{
		width: 27%;
		height: 100px;
	}
	/*Footer*/
	.quote button{
		width:91%;
		margin-left:12px;
	}
}

 /****** Extra small devices only ****/
@media(max-width: 767px){
	body{
		width: 100%;
	}
	/*header*/
	#navbar-example{
		height: 60px;
	}
	.navbar-brand h1{
		margin-top: 0px;
		text-align: center;
		margin-left: 40px;
		margin-bottom: 10px;
	}
	.navbar-header button.navbar-toggle {	
    	margin-top: -42px;
    	margin-right: 100px;
	}
	.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    	border: 1.5px solid #000;
}
	#nav-list a {
		color: #000000;
		text-align: center;
		padding: 20px 20px 20px auto;
		margin:-20px 0px 0px -20px;
	}
	/*#collapsable-nav a{
    /* Collapsed nav menu glyph */
  /*  font-size: 1em;
  	}
	  #collapsable-nav a span{
	    font-size: 1em;
	    margin-right: 5px;
	}*/
	/*End HEADER*/

	/*jumbotron*/
	.jumbotron img {
		width:250px;
		height: 250px;
		margin:-20px auto 15px 40px; 
	}
	.jumbotron h4{
		margin-top:10px;
		margin-left: 35px;
		margin-right:-30px;
		text-align: center;
	}
	.jumbotron p{
		font-size:14px;
		margin: auto -35px 5px 30px;
	}
	/*END JUMBOTRON*/

	/*EDUCATION AND APPOINMENT*/
	#home-tiles{
		width:100%;
		margin-left: 26px;
	}
	#home-tiles div h1{
		font-size: 30px;
	}
	#home-tiles div hr{
		width: 40%;
		/*border: 1px solid black;*/
	}
	#home-tiles .container .page-header h1{
		font-size: 20px;
		margin-bottom:-10px;
	}
	.container .edu .appo{
		/*margin-top:-30px;*/
		text-align: center;
	}
	.container #appo1 span{
		margin-bottom: 20px;
	}
	.head1{
		margin-bottom:-10px;
	}
	.head2{
		margin-bottom: -20px;
	}
	h2{
		font-size: 14px;
		text-align: center;
		margin-top:0px;
	}
	h3{
		font-size: 12px;
		line-height: 1em;
		font-weight: normal;
		text-align: center;
		margin-top:10px;
		margin-bottom:0px;
	}
	h4{
		font-size:10px;
		text-align: center;
		text-align: center;
		margin-top:0px;
		margin-bottom:0px;
	}
	#home-tiles div div hr .visible-xs{
		border: 1px dotted black;
		width:40%;
		border-top:-10px;
		border-bottom: -30px;
	}
	/*END EDUCATION AND APPOINTMENT*/

	/*	PUBLICATIONS*/
	#publicationss1 .heading3 h1{
		font-size: 30px;
	}
	#publicationss1 .container .row{
		margin-left: 40px;
	}
	button.btn.btn-info{
	margin: 10px;
	width: 100%;
	height: auto;
	}
	.modal-content{
		position: relative;
		left:26px;
	}
	#public1 ol li h1{
		font-size:10px;
	}
	/*END PUBLICATIONS*/
	/*Academics*/
	#academicss1{
		width: 100%;
		margin-left: 26px;
	}
	#academicss1 .heading4 h1{
		font-size:30px;
	}
	.adm h3{
		text-align:left; 
	}
	.adm ol li{
		list-style-type: disc;
	}
	/*End Academics*/

	/*AWARDS*/
	#awardss h1{
		font-size: 26px !important;
		margin-top: 10px;
		text-align: center;
	}
	#awardss hr{
		width: 70%;
	}
	.container{
		width: 100%;
	}
	#timeline{
		background:url(../images/line.png) repeat-y 30px 0;
	}
	.tl-block{
		margin-bottom: : 20px;
		margin-top: 20px;
	}
	.tl-event{
		background: url(../images/point-shape1.png) no-repeat 16px 0;
	}
	.tl-event > div{
		width: 80%;
		position: relative;
	}
	.tl-event div div{
		padding: 10px;
	}
	.tl-event div.event-l{
		float: right;
		background: url(../images/arrow-left.png) no-repeat 0 0;
	}
	.tl-event div.event-r div, .tl-event div.event-l div{
		margin-left: 20px;
		margin-right: 0;
	}
	.tl-event div div h3{
		font-size:12px;
		float:left;
	}
	.tl-event p{
		margin-top: 35px;
		clear:both;
	}

	/*END AWARDS*/

	/*FOOTER*/
	.panel-footer{
		margin-right: -50px;
	}
	.panel-footer section{
		margin-top: -30px;
		margin-bottom:20px;
	}
	.panel-footer section h1{
		font-size:25px;
	}
	.panel-footer section hr{
		border-top: 1px dashed white;
    	width: 50%;
  	}
	.quote, h1.text-center {
		width: 150%;
	    margin-left: 40px;
	    padding-right: 0px;
	    margin-right: -40px;
	}
	.quote button{
		margin-left:14px;
	}
}



